pyttsx3
numpy
nltk
tensorflow
pyowm
audioplayer
vosk
sounddevice
mathparse

# Enables the use of web interface
#gradio

# Enables the use of the Google API
# google-cloud-speech
# google-cloud-texttospeech

# Enables the use of voice recognition through pyaudio
# PyAudio can be installed from here: https://www.lfd.uci.edu/~gohlke/pythonlibs/#pyaudio
# A binary can be found in System/Extras/Pyaudio
# Use ex. pip install PyAudio-0.2.11.whl to install it
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability