{
    "credentials": {
        "openweathermap": {
            "api_key": "",
            "city": "Phuket",
            "country": "TH",
            "units": "metric",
            "lat": "0",
            "lon": "0"
        },
        "rapid_api": {
            "api_key": "",
            "api_host": ""
        }
    }
}
