{
    "credentials": {
        "openweathermap": {
            "api_key": "",
            "city": "Phuket",
            "country": "TH",
            "units": "metric"
        },
        "google_cloud": {
            "api_key": ""
        }
    }
}
